#Ignorer le fichier bin et son contenu
bin/

#Ignore le .classpath et .project
.classpath
.project

#Ignore le fichier lib
lib/

#Ignore le fichier lib
lib/*

#Ignore le dossier doc
doc/

#Ignore le dossier doc
doc/*

